<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/echarts.min.js"></script>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>腾讯课堂分析报告</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="container">
    <div class="panel panel-primary">
	<div class="panel-heading">
	<h3 class="panel-title">动态感知</h3>
  	</div>
        <div class="panel-body">
		<p><h3 style="text-align:center">初开界面，页面第一眼:</h3></p>
		<p style="text-align:center">人人都会<a href="/static/wx.jpg" style="color:black">微信</a>小程序【腾讯课堂】</p>
		<p style="text-align:center">行业专业亲授，直击就业痛点【网易云课堂】</p>
		<p style="text-align:center">成功登陆港股，股票代码 1797【新东方在线】 </p>
		<br>
		<table class="table table-bordered">
			<thead>
			<th>名称</th>
			<th>口号</th>
			<th>优势</th>
			<th>起步时间</th>
			</thead>
		<tbody>
			<tr>
				<td>腾讯课堂</td>
				<td>专业的在线教育平台</td>
				<td>利用腾讯庞大用户和推广</td>
				<td>2014年</td>
			</tr>
                        <tr>
                                <td>网易云课堂</td>
                                <td>专注职业技能提升的在线学习平台</td>
                                <td>利用与顶级机构，院校合作</td>
                                <td>2012年</td>
                        </tr>
                        <tr>
                                <td>新东方在线</td>
                                <td>新东方教育科技集团旗下专业的在线教育网站</td>
                                <td>利用线下优势，实现线上扩张</td>
                                <td>2014年</td>
                        </tr>
		</tbody>
		</table>
    	<br>    
	<div class="contain">
		<p><h3 style="text-align:center">各大数据统计网站</h3></p>
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
		<a class="btn btn-default" style="text-align:center" href="https://trends.google.com/trends/explore?geo=US&q=%E8%85%BE%E8%AE%AF%E8%AF%BE%E5%A0%82,%E7%BD%91%E6%98%93%E4%BA%91%E8%AF%BE%E5%A0%82" role="button" target="_Blank">谷歌趋势</a>
		<a class="btn btn-default" style="text-align:center" href="http://zhishu.baidu.com/v2/main/index.html#/trend/%E8%85%BE%E8%AE%AF%E8%AF%BE%E5%A0%82?words=%E8%85%BE%E8%AE%AF%E8%AF%BE%E5%A0%82,%E7%BD%91%E6%98%93%E4%BA%91%E8%AF%BE%E5%A0%82,%E8%BE%BE%E5%86%85,%E6%88%91%E8%A6%81%E8%87%AA%E5%AD%A6%E7%BD%91" role="button" target="_Blank">百度指数</a>
		<a class="btn btn-default" style="text-align:center"  href="https://index.iresearch.com.cn/app/detail?id=1151&Tid=74https://index.iresearch.com.cn/app/detail?id=932&Tid=74" target="_Blank" role="button">艾瑞指数</a>
	    	</div>
	   </div>
    	</div><!--panel-body-->
    </div>
</div>
<div class="container">    
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h3 class="panel-title">数据蓝军
		</h3>
        </div>
	<div class="panel-body">
	<div class="container">
		<p><h3 style="text-align:center">网易云课堂进行详细对比分析</h3></p>
		<p style="text-align:center"><a href="http://km.oa.com/articles/show/405753" target="_Blank">更多相关细节，点击查看KM吧~</a>
	</div>
        <br>
	<div class="container">
        <div class="col-md-6"><div id="type" style="width: 80%;height:400px;" ></div></div>
        <div class="col-md-6"><div id="type2" style="width: 80%;height:400px;"></div></div>
        </div>
	<br>
	<div class="container" >
	<p> <h4 style="text-align:center"> 将采集数据根据价格，分类统计。低价格：0~100元。中价格：100元~1000元。高价格：1000元以上 </h4></p>
	<br>
	<div id="main"style="width: 80%;height:400px;margin:0 auto;"></div>
	<p> <h4 style="text-align:center">结论：腾讯课堂更加专注于免费课程和高价格精品课程。网易云课题更加关注低中价格的课程。</h4></p>
        </div>
	</div>
   </div>	
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h3 class="panel-title">课程评估</h3>
        </div>
        <div class="panel-body">
            <div class="container">
		<p><h3 style="text-align:center">评论数据分析</h3></p>
		<br>
		<div style="width: 60%;height:400px;margin:0 auto;"><img src="/static/pl.png" style=" width:100%;height:400px;margin:0 auto;"></img></div>
		<br>
		<p> <h4 style="text-align:center"> 抽取2807份课程进行评论数据分析。只有72门课程评论数大于3。</h4></p>
		<p> <h4 style="text-align:center">72门课程中，有13门课程评论有消极态度表现。</h4></p>
		<p> <h4 style="text-align:center">13门课程中，有4门课程评论有消极态度比重高达30%以上。</h4></p>
		<br>
		<div class="list-group" style="width:90%;height:200px;margin:0 auto;">
			<a href="#" class="list-group-item active">评论较差的课程如下</a>
			<a href="https://study.163.com/course/introduction/1002987028.htm" target="_Blank" class="list-group-item">计算机二级C语言</a>
			<a href="https://study.163.com/course/introduction/1003283011.htm" target="_Blank" class="list-group-item">Java内存模型　——　深入JVM</a>
			<a href="https://study.163.com/course/introduction/1003578011.htm" target="_Blank" class="list-group-item">史上最易学C语言之数据结构与算法</a>
			<a href="https://study.163.com/course/introduction/360005.htm" target="_Blank" class="list-group-item">影想力【摄影维C】</a>
		</div>
	    </div>
	</div>
   </div>
</div>


<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h3 class="panel-title">个人总结</h3>
        </div>
        <div class="panel-body">
            <div class="container">
		<p></p>
		<p>1.建立第三方数据监控平台，感知外部知名数据平台统计和评估。</p>
		<p>2.建立数据蓝军，深入了解竞品友商发展方向，数据信息细节。</p>
		<p>3.建立课程内容评估体系，结合事前事中事后行为数据，形成全链路课程评估体系。</p>
	    </div>
	</div> 
    </div>
</div>













	<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
	var myChart1 = echarts.init(document.getElementById('type'));
	var myChart2 = echarts.init(document.getElementById('type2'));

        option2 = {
    title : {
        text: '猪厂数据分类',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['java','php','python','r']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:{{index .zcm 0}}, name:'java'},
                {value:{{index .zcm 1}}, name:'php'},
                {value:{{index .zcm 2}}, name:'python'},
                {value:{{index .zcm 3}}, name:'r'},
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
        };
	option1 = {
    title : {
        text: '鹅厂数据分类',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['java','php','python','r']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:{{index .ecm 0}}, name:'java'},
                {value:{{index .ecm 1}}, name:'php'},
                {value:{{index .ecm 2}}, name:'python'},
                {value:{{index .ecm 3}}, name:'r'},
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
	};
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '价格分布图'
            },
            tooltip : {
        	trigger: 'axis',
        	axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            	type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        	}
    	    },
            legend: {
                data:['免费','低价格','中价格','高价格']
            },
            xAxis: {
                type:'value'
            },
            yAxis: {
	    	type: 'category',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'python'},
                {value:310, name:'R'},
                {value:234, name:'PHP'},
                {value:135, name:'go'},
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    
	};
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '价格分布图'
            },
            tooltip : {
        	trigger: 'axis',
        	axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            	type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        	}
    	    },
            legend: {
                data:['免费','低价格','中价格','高价格']
            },
            xAxis: {
                type:'value'
            },
            yAxis: {
	    	type: 'category',
		data:['鹅厂','猪厂']
            },
            series: [
	    {
                name: '免费',
                type: 'bar',
		stack: '总量',
                label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            	},
		data: [{{index .ecz 0}},{{index .zcz 0}}]
            },
            {
	        name: '低价格',
                type: 'bar',
		stack: '总量',
                label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            	},
		data: [{{index .ecz 1}},{{index .zcz 1}}]
            },
	            {
                name: '中价格',
                type: 'bar',
                stack: '总量',
                label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
                },
                data: [{{index .ecz 2}},{{index .zcz 2}}]
            },
            {
                name: '高价格',
                type: 'bar',
                stack: '总量',
                label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
                },
                data: [{{index .ecz 3}},{{index .zcz 3}}]
            }
	]
	};
	myChart.setOption(option);
	myChart1.setOption(option1);
	myChart2.setOption(option2);
    </script>

</body>
</html>
